
/*--------------------------------------------------------------
Body
--------------------------------------------------------------*/

.body-content-title {
    padding-top: 40px;
    padding-bottom: 40px;
    background: rgba(254, 254, 250, 1);
    text-align: center;
}

.body-content {
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 20px;
}

body-content-item {
    padding-top: 10px;
    padding-bottom: 10px;
    alignment: center;
    text-align: justify;

}
.body-content-text {
    margin-top: 10px;
    margin-bottom: 20px;
    height: auto;
}


.navbar-img-2 {
    position: relative;
    text-align: center;
    backdrop-filter: blur(60%);
}

.nav-design {
    position: absolute;
    font-size: 150px;
    color: rgba(256, 256, 256, 1);
}



/*--------------------------------------------------------------
Cleaning
--------------------------------------------------------------*/



.top-left-2 {
    top: 20%;
    left: 16px;
}
.left-2 {
    top: 50%;
    left: 400px;
    transform: translate(-50%, -50%);
}

.left-2-2 {
    top: 70%;
    left: 90px;
    transform: translate(-50%, -50%);
}
.bottom-left-2 {
    bottom: 8px;
    left: 16px;
}


/*--------------------------------------------------------------
Repair
--------------------------------------------------------------*/
.top-left-3 {
    top: 35%;
    left: 16px;
}
.left-3 {
    top: 60%;
    left: 285px;
    transform: translate(-50%, -50%);
}

.left-2-3 {
    top: 75%;
    left: 310px;
    transform: translate(-50%, -50%);
}
.bottom-left-3 {
    bottom: 0px;
    left: 26px;
}

/*--------------------------------------------------------------
Maintenance
--------------------------------------------------------------*/

.top-left-4 {
    top: 35%;
    left: 16px;
}

.left-4 {
    top: 60%;
    left: 285px;
    transform: translate(-50%, -50%);
}

.left-2-4 {
    top: 75%;
    left: 180px;
    transform: translate(-50%, -50%);
}

.bottom-left-4 {
    bottom: 0px;
    left: 26px;
}

/*--------------------------------------------------------------
Side Nav Bar
--------------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 80%;
    margin: 2rem auto;
}

/* Styling grid */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(700px, 50fr));
    grid-gap: 2rem;
}


.div-grid {
    background: #eee;
    height: auto;
    /* center the text */
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.article {
    background: #eee;
    flex-grow: 999;
    flex-basis: 0;
}

.sticky {
    background: #eee;
    height: 15rem;
    width: 15rem;
    flex-grow: 1;
    flex-basis: 300px;
    position: sticky;
    top: 2rem;
    /* center the text */
    display: grid;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
