/*----------------------------------------------------------------------------------------------------------------------
General
----------------------------------------------------------------------------------------------------------------------*/
body {
    font-family: "Work Sans", sans-serif;
    color: #000000;
    position: relative;
    background: transparent;
}

body::before {
    content: "";
    position: fixed;
    background-color: #ffffff;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: -1;

}

@media (min-width: 1024px) {
    body::before {
        background-attachment: fixed;
    }
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #000000;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Work Sans Bold", sans-serif;
    font-weight: bolder;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Work Sans Bold", sans-serif;
    font-weight: bolder;
}
/*----------------------------------------------------------------------------------------------------------------------
Header
----------------------------------------------------------------------------------------------------------------------*/
#header {
    transition: ease-in-out 0.3s;
    position: relative;
    display: flex;
    align-items: center;
    z-index: 997;
    overflow-y: auto;
}

#header * {
    transition: ease-in-out 0.3s;
}

#header h2 {
    font-size: 24px;
    margin-top: 20px;
    color: #000000;
}

@media (max-device-width: 600px) {
    .mobile-text {
        text-align: center !important;
    }
}

#header h2 span {
    color: #000000;
    border-bottom: 2px solid #435600;
    padding-bottom: 6px;
}

#header img {
    padding: 0;
    margin: 0;
}

#header a {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    color: #000000;
    line-height: 1;
    margin-right: 8px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

@media (max-width: 992px) {
    #header h1 {
        font-size: 36px;
    }
    #header h2 {
        font-size: 20px;
        line-height: 30px;
    }
    #header .social-links {
        margin-top: 15px;
    }
    #header .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* Header Top */
#header.header-top {
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
}

#header.header-top .social-links, #header.header-top h2 {
    display: none;
}

#header.header-top h1 {
    margin-right: auto;
    font-size: 36px;
}

#header.header-top .container {
    display: flex;
    align-items: center;
}

#header.header-top .navbar {
    margin: 0;
}

@media (max-width: 768px) {
    #header.header-top {
        height: 60px;
    }
    #header.header-top h1 {
        font-size: 26px;
    }
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
.navbar {
    padding: 0;
    margin-top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: saturate(180%) blur(20px);
}

.navbar ul {
    margin: 5px;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar li + li {
    margin-left: 30px;
}

.navbar a, .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(256, 256, 256, 1);
    white-space: nowrap;
    transition: 0.3s;
}

.navbar a i, .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:before {
    content: "";
    position: absolute;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: rgba(256, 256, 256, 1);
    visibility: hidden;
    width: 0;
    transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before, .navbar li:hover > a:before, .navbar .active:before {
    visibility: visible;
    width: 60px;
}

.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
    color: rgba(256, 256, 256, 1);
}

.navbar-img {
    position: relative;
    text-align: center;
}

.top-left, .left, .left-2, .bottom-left {
    position: absolute;
    font-size: 150px;
    color: rgba(256, 256, 256, 1);
}

.top-left {
    top: -5%;
    left: 16px;
}
.left {
    top: 35%;
    left: 210px;
    transform: translate(-50%, -50%);
}

.left-2 {
    top: 57%;
    left: 170px;
    transform: translate(-50%, -50%);
}
.bottom-left {
    bottom: 8px;
    left: 16px;
}

/*--------------------------------------------------------------
# Search Form
--------------------------------------------------------------*/

form {
    position: relative;
}

input {
    width: 100%;
    padding-right: 40px;
}

.nav-button {
    width: 50px;
    position: absolute;
    top: 0;
    right: 225px;
}



/*--------------------------------------------------------------
# Header Title
--------------------------------------------------------------*/

.header-title {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(254, 254, 250, 1);
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}


/*--------------------------------------------------------------
# Body Item
--------------------------------------------------------------*/

.body-item {
    background-color: rgba(171, 173, 181, 0.9);
    margin: 0;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.body-item-text {

    margin-top: 20px;
    margin-bottom: 20px;
    margin-bottom: 20px;
    padding-top: 80px;
    padding-bottom: 80px;
    height: auto;
    color: rgba(0, 0, 0, 0.8)
}

.body-item-p {
    text-align: justify;
    padding-left: 40px;
    padding-right: 40px;
    color: rgba(0, 0, 0, 0.8)
}

.body-item-image {
    padding: 0;
}
.body-item-image-2 {
    padding: 0;
}

.item-spacing {
    width: auto;
    height: 70px;
    background-color: rgba(254, 254, 250, 1) ;
}

.item-spacing-haft {
    width: auto;
    height: 35px;
    background-color: rgba(254, 254, 250, 1);
}

.item-spacing-title {
    width: auto;
    height: 70px;
    background-color: rgba(171, 173, 181, 0.9);
    text-align: center;
    justify-content: flex-start;
    align-items: center;
}

.body-item-button{
    background-color: rgba(74, 78, 89, 0.9);

}

.icon {
    height: 500px;
    width: 500px;
}

.list-nobutton {
    list-style: none;
    padding: 0;
    margin: 0;
    text-indent: 35px;
    text-align: justify;
    align-items: center;
}

/*--------------------------------------------------------------
Sticky Nav
--------*/

.et-hero-tabs {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 70px;
    position: relative;
    background: rgba(254, 254, 250, 1);
    text-align: center;
    padding: 0 2em;
}

.et-slide {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 70vh;
    position: relative;
    background: rgba(254, 254, 250, 1);
    text-align: center;
    padding: 0;
}
.et-hero-tabs h1,
.et-slide h1 {
    font-size: 2rem;
    margin: 0;
    letter-spacing: 1rem;
}
.et-hero-tabs h3,
.et-slide h3 {
    font-size: 1rem;
    letter-spacing: 0.3rem;
    opacity: 0.6;
}
.et-hero-tabs-container {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: rgba(74, 78, 89, 0.9);
    z-index: 10;
}
.et-hero-tabs-container--top {
    position: fixed;
    top: 0;
}
.et-hero-tab {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    flex: 1;
    color: #000;
    letter-spacing: 0.1rem;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-size: 0.8rem;
}
.et-hero-tab:hover {
    color: rgba(256, 256, 256, 1);
    background: rgba(102, 177, 241, 0.8);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.et-hero-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: #66B1F1;
    -webkit-transition: left 0.3s ease;
    transition: left 0.3s ease;
}
@media (min-width: 800px) {
    .et-hero-tabs h1,
    .et-slide h1 {
        font-size: 3rem;
    }
    .et-hero-tabs h3,
    .et-slide h3 {
        font-size: 1rem;
    }
    .et-hero-tab {
        font-size: 1rem;
    }
}


/*--------------------------------------------------------------
Body
--------------------------------------------------------------*/

.body-content-title {
    padding-top: 40px;
    padding-bottom: 40px;
    background: rgba(254, 254, 250, 1);
    text-align: center;
}

.body-content {
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 20px;
}

body-content-item {
    padding-top: 10px;
    padding-bottom: 10px;
    alignment: center;
    text-align: justify;

}
.body-content-text {
    margin-top: 10px;
    margin-bottom: 20px;
    height: auto;
}


.navbar-img-2 {
    position: relative;
    text-align: center;
    backdrop-filter: blur(60%);
}

.nav-design {
    position: absolute;
    font-size: 150px;
    color: rgba(256, 256, 256, 1);
}



/*--------------------------------------------------------------
Cleaning
--------------------------------------------------------------*/



.top-left-2 {
    top: 20%;
    left: 16px;
}
.left-2 {
    top: 50%;
    left: 400px;
    transform: translate(-50%, -50%);
}

.left-2-2 {
    top: 70%;
    left: 90px;
    transform: translate(-50%, -50%);
}
.bottom-left-2 {
    bottom: 8px;
    left: 16px;
}


/*--------------------------------------------------------------
Repair
--------------------------------------------------------------*/
.top-left-3 {
    top: 35%;
    left: 16px;
}
.left-3 {
    top: 60%;
    left: 285px;
    transform: translate(-50%, -50%);
}

.left-2-3 {
    top: 75%;
    left: 310px;
    transform: translate(-50%, -50%);
}
.bottom-left-3 {
    bottom: 0px;
    left: 26px;
}

/*--------------------------------------------------------------
Maintenance
--------------------------------------------------------------*/

.top-left-4 {
    top: 35%;
    left: 16px;
}

.left-4 {
    top: 60%;
    left: 285px;
    transform: translate(-50%, -50%);
}

.left-2-4 {
    top: 75%;
    left: 180px;
    transform: translate(-50%, -50%);
}

.bottom-left-4 {
    bottom: 0px;
    left: 26px;
}

/*--------------------------------------------------------------
Side Nav Bar
--------------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 80%;
    margin: 2rem auto;
}

/* Styling grid */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(700px, 50fr));
    grid-gap: 2rem;
}


.div-grid {
    background: #eee;
    height: auto;
    /* center the text */
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.article {
    background: #eee;
    flex-grow: 999;
    flex-basis: 0;
}

.sticky {
    background: #eee;
    height: 15rem;
    width: 15rem;
    flex-grow: 1;
    flex-basis: 300px;
    position: sticky;
    top: 2rem;
    /* center the text */
    display: grid;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

/*--------------------------------------------------------------
Date and Time
--------------------------------------------------------------*/

#date {
    margin-top: 20px;
    font-size:10px;
    color: silver;
    width: 7.8125px;
    margin-left: 50px;
    position: relative;
    left: 450px;


}

#time {
    margin-top: 20px;
    font-size:32.5px;
    padding: 10px;
    color: silver;
    width: 43.75px;
    margin-left:25px;

    position: absolute;
    left: 1350px;

}

/*--------------------------------------------------------------
About
--------------------------------------------------------------*/

.about {
    align-items: center;
    justify-content: center;

}

.about-logo {
    width: 200px;
    height: 75px;
    justify-content: center;

}

.about-image {
    margin: 20px;
    width: 400px;
    height: 400px;
    justify-content: center;

}

.about-image-2 {
    margin: 20px;
    width: 200px;
    height: 200px;
    justify-content: center;

}

.about-infos {
    gap: 200px;

    justify-content: center;
}

.mission {
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    justify-content: center;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

footer {
    background-color: rgba(0, 0, 0, 0.8);
}
